<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <div class="img-logos d-lg-none">
      <img src="../assets/images/Header Logo.png" alt="">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="img-logo ">
        <img src="../assets/images/Header Logo.png" alt="">
      </div>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link actives" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Story </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us </a>
        </li>
        <div class="line"></div>
        <div class="icon-imgaes">
          <div class="search-icon">
            <img src="../assets/images/Header Search Icon.png" alt="">
          </div>
          <div class="search-icon">
            <img src="../assets/images/Header Profile.png" alt="">
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>

<app-home></app-home>