<!-- <div class="grid-container">
    <div class="grid-item item1">
        <h2 class="main-text1 "><span class="hero-text">Let’s talk</span> about <br> your next trip!
        </h2>
        <p class="main-para "> Share your favorite travel destination and we will <br> feature it in our
            next blog!
            Share your story
            Watch highlights</p>
        <button mat-button class="btn-story">Share Your Story</button>
        <button mat-button class="play-icon">
            <img src="../assets/images/Group 678.png" alt="play">Watch
            highlights</button>
    </div>
    <div class="grid-item item2">2</div>

</div> -->


<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
        [style.background]="tile.color">
        <div class="main-banner">
            <h2 class="main-text1 "><span class="hero-text"> {{tile.heading}} </span>{{tile.heading1}}<br>
                {{tile.heading2}}
            </h2>


            <p class="main-para"> {{tile.para}} <br> {{tile.para1}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>